/*@import url("components/button.css");*/
@import url("components/banner.css");

body {
  margin: 0;
  font-family: Open-sans, sans-serif;
  color: white;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

h3 {
  font-family: Raleway, Helvetica, sans-serif;
}
.text-center {
  text-align: center;
}
