/* Your banner CSS file */
.banner {
  background: url('images/blue-purple.jpg') no-repeat center center;
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  text-align: center;
/*  overflow: hidden;
  z-index: -1;*/
}

.banner-content {
  margin: 0 auto;
}

.banner-content p {
  padding-bottom: 15px;
}

.banner-content h1 {
  font-size: 39px;
}

.banner-content h2 {
  font-size: 25px;
}
